/*
Error: Invalid CSS after "...'global/colors'": expected selector or at-rule, was "@import 'global..."
        on line 2 of /Users/jjato/Documents/work/Healthshare/Connectme/git-repo/connect-me/sass/style.scss

1: @import 'global/colors'
2: @import 'global/html'

Backtrace:
/Users/jjato/Documents/work/Healthshare/Connectme/git-repo/connect-me/sass/style.scss:2
/Users/jjato/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
/Users/jjato/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/scss/parser.rb:1125:in `expected'
/Users/jjato/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/scss/parser.rb:42:in `parse'
/Users/jjato/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/engine.rb:406:in `_to_tree'
/Users/jjato/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/engine.rb:281:in `render'
/Users/jjato/.rvm/gems/ruby-2.1.2/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/jjato/.rvm/gems/ruby-2.1.2/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/jjato/.rvm/gems/ruby-2.1.2/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/jjato/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/Users/jjato/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jjato/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jjato/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jjato/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/jjato/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/jjato/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/jjato/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/jjato/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/jjato/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/jjato/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/jjato/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/jjato/.rvm/gems/ruby-2.1.2/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...'global/colors'\": expected selector or at-rule, was \"@import 'global...\"\A         on line 2 of /Users/jjato/Documents/work/Healthshare/Connectme/git-repo/connect-me/sass/style.scss\A \A 1: @import 'global/colors'\A 2: @import 'global/html'"; }
