@charset "UTF-8";

/*- Colors -*/

.orange {color: #FF9F5F}
.darkorange {color: #BF6B32}
.lightorange {color: #FFC69F}

.blue {color: #69D9DC}
.darkblue {color: #2D979A}
.lightblue {color: #BFFDFF}

.green {color:#E5FF88}

.grey {color:#AFAFAF}
.darkgrey {color:#4E4E4E}
.white {color: #fff}
.black {color: #7B7B7B}

/*- Links and buttons -*/

a {
  color: #FF9F5F;
  text-decoration:none;
  transition:all ease .2s;
}
a:hover {color: #FFC69F}

.btn-primary {
  background: #ff9f5f none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  letter-spacing: 0.25rem;
  line-height: 1.3rem;
  margin: 10px 0;
  padding: 15px 25px;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
}
.btn-primary:hover {
  background: #BF6B32 none repeat scroll 0 0;
  text-decoration:none;
}
.btn-primary.big {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  line-height: 1.8rem;
  margin: 50px 0;
  padding: 25px 35px;
}
.btn-primary.outlined {
  background:transparent;
  color:#ff9f5f!important;
  border:1px solid #ff9f5f;
}
.btn-primary.outlined:hover {
  background:#BF6B32;
  color:#fff!important;
  border:1px solid #ff9f5f;
}


.btn-secondary {
  display:inline-block;
  background: #69D9DC none repeat scroll 0 0;
  border-radius: 5px;
  font-size: 0.85rem;
  letter-spacing: 0.2rem;
  line-height: 1.2rem;
  margin: 20px 0;
  padding: 10px 20px;
  text-transform: uppercase;
  color:#fff;
  transition: all 0.5s ease 0s;
}
.btn-secondary:hover {
  background: #2D979A none repeat scroll 0 0;
  text-decoration:none;
}

/*- Texts and Titles -*/

h1, .h1 {
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: -0.5px;
  line-height: 4.2rem;
  margin: 10px 0 30px;
}
h2, .h2 {
  font-size: 3.5rem;
  font-weight: 100;
  line-height: 5.5rem;
  margin-bottom: 20px;
}
h3, .h3 {
  font-size:1.4rem;
  text-transform:uppercase;
  letter-spacing:1px;
  margin:10px 0;
  font-weight:100;
}
h4, .h4 {font-size:1.5rem; margin:2rem 0 2.4rem; font-weight:100;}
p {font-size:1.5rem; line-height:2.6rem;}
.small {font-size:1.3rem}

.serif {
  font-family:"Noto Serif", "Times New Roman", Times, serif;
}
.italic {
  font-style:italic;
}
.quote {
  font-size: 1.2em;
  font-weight: 100;
  letter-spacing: 0.5px;
  margin: 20px 0 -5px;
}

ul {
  list-style-image:url('../img/elements/dot.png');
  padding-left:10px;
}
ul li {
  padding-left:10px;
  margin-bottom:10px;
}
ul.blue-bullets {
  list-style-image:url('../img/elements/dot-blue.png');
}
/*If list-inline*/
ul.blue-bullets li > span {
  background:url('../img/elements/dot-blue.png');
  width:6px;
  height:6px;
  display:inline-block;
  margin:2px 7px 2px 0;
}
ul.list-inline li{
  display:inline-block;
}

/*- Grid, blocs -*/

#content {
  position: relative;
  min-height: 100vh;
  background-color: #F5F4F0;
}
.wrapper {
  padding:0 10vw;
  position: relative;
  clear:both;
}
.bloc {
  width: 45%;
}
.grid3 {
  display:inline-flex;
  text-align:center;
  margin:20px 0;
}
.grid3 > div {
  max-width: 33.3%;
  min-width: 31.5%;
  padding: 1%;
  text-align: center;
}
.left {
  float:left;
}
.right {
  float:right;
}
.right > img {float:right}

/*- Imgs and misc -*/

img {max-width:100%; width:auto}
img.apost{
  min-width:70px;
  max-width:90px;
}
.Illustration {
  max-width:50%;
}
.img-circle {
  border-radius:300px;
}
hr {border:0; height:1px;background:#dedede;display:inline-block; width:100%}
hr.undertitle {
  width: 25%;
  max-width: 110px;
  height:3px;
  margin:20px 0;
  background:#D8D8D8;
  display:inline-block;
}
hr.undertitle.blue {
  background:#69D9DC;
}
hr.undertitle.orange {
  background:#FF9F5F;
}
.clear {
  clear:both;
}
blockquote {
  width:100%;
  margin:auto;
  padding:0px 50px;
  display: flex;
  flex-direction: row;
}
blockquote .quote {
  margin-bottom:40px;
}
blockquote h3 {
  text-transform:inherit;
  font-size:2rem;
}
blockquote h4 {
  text-transform:uppercase;
  font-size:1rem;
  margin-top:5px;
}
cite {font-style:normal;}

.testimonial-slide {
  overflow:hidden;
}

/* Slick styling */
.slick-list {
  width:90%;
  float:left;
  overflow:hidden;
}

.slick-dots {
  list-style:outside none none;
  padding:0;
  text-align:center;
  width:10%;
  float:right;
}
.slick-dots li {
  margin-bottom:30px;
}
.slick-dots li button{
  background: #EDEDED none repeat scroll 0 0;
  border: 0 none;
  border-radius: 100px;
  color: transparent;
  height: 20px;
  width: 20px;
  transition: all ease .5s;
}
.slick-dots li.slick-active button{
  background: #FFA178 none repeat scroll 0 0;
}

/*-- NAV --*/
#brand{
  background-image: url("../img/elements/Logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
  float: left;
  height: 28px;
  width: 160px;
  margin-top:-65px;
}
#nav-bar{
  padding:20px 0;
}
#nav-bar ul.nav{
  text-align:right;
  margin:0;
}
#nav-bar ul.nav li{
  display:inline-block;
  margin-left:0px;
}
#nav-bar ul.nav li a{
  color:#909090;
  padding:10px 15px;
  font-size:1.1rem;
  display:block;
}
#nav-bar ul.nav li a:hover{
  color:#333;

}
#nav-bar ul.nav li a.btn-primary{
  margin:0;
  color:#fff;
  padding:10px 15px;
}

/*-- Sections --*/
section {
  height: auto;
  min-height: 70vh;
  padding-top:10vh;
}

/*--- Lead Intro ---*/

#leadIntro {
  border-bottom:1px solid #D8D8D8;
  padding-top:15vh;
  min-height:75vh;
}
#leadIntro img {
  margin-top:80px;
}

/*--- keypoints ---*/

.keypoint {
  border-bottom:1px solid #D8D8D8;
  background:#fff;
  padding:10vh 0;
}
.keypoint h2 {margin-top:10vh;font-size:2.5rem; line-height:3.5rem}
.keypoint .Illustration {
  margin-top:10vh;
}

/*--- Coming soon ---*/

#coming-soon {
  background:#4E4E4E;
  height:auto;
  min-height:140px;
  padding-bottom:10vh;
}
#coming-soon > * {text-align:center;}
#coming-soon ul.blue-bullets li {display:inline;}

/*--- Testimonials ---*/

#testimonials {
  background:#FAFAFA;
  height:auto;
  min-height:250px;
  padding:20vh 0;
}
#testimonials blockquote{
  background:url("../img//elementsquote-icon.png") no-repeat scroll left top;
  background-size:90px;
  width:80%;
}
#testimonials .avatar{
  width:25%;
  padding-right:20px;
  margin-right:20px;
}
#testimonials .avatar img{
  max-width:200px;
}


/*--- highlights ---*/

#highlights {
  background:#4E4E4E;
  height:auto;
  min-height:540px;
  padding:10vh 0;
}
#highlights > * {text-align:center;}
#highlights h4 {text-transform:uppercase; margin:20px 0 5px}
#highlights h3 {margin-top:35px}
#highlights .grid3 {margin:90px 0;}
#highlights .grid3 p {padding:0 30px;}

/*--- Get Started ---*/

#get-started {
  height:auto;
  min-height:550px;
  padding:10vh 0;
}
#get-started > * {text-align:center;}

#get-started #steps {
  background:url(../img/Get-started.png) no-repeat scroll center bottom;
  min-height:300px;
  width:70%;
}
#get-started #steps.grid3 div{
  margin-top:150px;
}
#get-started #steps h4{
  text-transform:uppercase;
  color:#CDCCCD;
}
#get-started #steps div.active img{
  min-width:110px;
  margin-top:-30px;
}
#get-started #steps div.active h4{
  color:#69D9DC;
  font-size:1.7rem;
}

/*--- pricing ---*/

#pricing {
  background:#4E4E4E;
  height:auto;
  min-height:540px;
  padding:10vh 0;
}
#pricing > * {text-align:center;}
#pricing hr {margin:80px auto -120px;  width:90%; background:#666;}
#pricing .btn-primary.big {margin:80px auto 10px;}

#pricing p.quote {
  font-size: 2.5rem;
  font-weight: 100;
  line-height: 3.6rem;
  margin: 40px auto 30px;
  padding-right:40px;
}
#pricing img.apost {margin:40px 40px 40px 0}
#pricing p.h3 {text-transform:inherit; font-size:1.9rem}
#pricing p.h4 {text-transform:uppercase; font-size:1.3rem; margin-top:0;}

/*--- Partners ---*/

#partners {
  height:auto;
  min-height:540px;
  padding:10vh 0;
}
#partners > * {text-align:center;}
#partners hr {margin:50px 0}
#partners ul li {margin:2vh 1vw}
#partners ul li img {max-width: 170px;width: 100%;}

/*--- Footer ---*/

footer {
  background:#FF9F5F;
  height:auto;
  min-height:250px;
  padding:10vh 0;
}
footer > * {text-align:center;}
footer a {color:#fff;}
footer .nav-footer-top ul li {margin:1vh .5vw}
footer .nav-footer-middle ul li {margin:20px 1.5vw}

