/*--- Lead Intro ---*/

#leadIntro {
  border-bottom:1px solid #D8D8D8;
}
#leadIntro img {
  margin-top:80px;
}

/*--- keypoints ---*/

.keypoint {
  border-bottom:1px solid #D8D8D8;
  background:#fff;
  padding:10vh 0;
}
.keypoint h2 {margin-top:10vh;font-size:2.5rem; line-height:3.5rem}
.keypoint .Illustration {
  margin-top:10vh;
}

/*--- Coming soon ---*/

#coming-soon {
  background:#4E4E4E;
  height:auto;
  min-height:140px;
  padding-bottom:10vh;
}
#coming-soon > * {text-align:center;}
#coming-soon ul.blue-bullets li {display:inline;}


/*--- highlights ---*/

#highlights {
  background:#4E4E4E;
  height:auto;
  min-height:540px;
  padding:10vh 0;
}
#highlights > * {text-align:center;}
#highlights h4 {text-transform:uppercase; margin:20px 0 5px}
#highlights h3 {margin-top:35px}
#highlights .grid3 {margin:90px 0;}
#highlights .grid3 p {padding:0 30px;}

/*--- Get Started ---*/

#get-started {
  height:auto;
  min-height:550px;
  padding:10vh 0;
}
#get-started > * {text-align:center;}

#get-started #steps {
  background:url(../img/Get-started.png) no-repeat scroll center bottom;
  min-height:300px;
  width:70%;
}
#get-started #steps.grid3 div{
  margin-top:150px;
}
#get-started #steps h4{
  text-transform:uppercase;
  color:#CDCCCD;
}
#get-started #steps div.active img{
  min-width:110px;
  margin-top:-30px;
}
#get-started #steps div.active h4{
  color:#69D9DC;
  font-size:1.7rem;
}

/*--- pricing ---*/

#pricing {
  background:#4E4E4E;
  height:auto;
  min-height:540px;
  padding:10vh 0;
}
#pricing > * {text-align:center;}
#pricing hr {margin:80px auto -120px;  width:90%; background:#666;}
#pricing .btn-primary.big {margin:80px auto 10px;}

#pricing p.quote {
  font-size: 2.5rem;
  font-weight: 100;
  line-height: 3.6rem;
  margin: 40px auto 30px;
  padding-right:40px;
}
#pricing img.apost {margin:40px 40px 40px 0}
#pricing p.h3 {text-transform:inherit; font-size:1.9rem}
#pricing p.h4 {text-transform:uppercase; font-size:1.3rem; margin-top:0;}

/*--- Partners ---*/

#partners {
  height:auto;
  min-height:540px;
  padding:10vh 0;
}
#partners > * {text-align:center;}
#partners hr {margin:50px 0}
#partners ul li {margin:2vh 1vw}
#partners ul li img {max-width: 170px;width: 100%;}


