
	$mainColor :#FF9F5F;
	$mainColorDark : #BF6B32;
	$mainColorLight : #FFC69F;

	$secondaryColor : #69D9DC;
	$secondaryColorDark : #2D979A;
	$secondaryColorLight : #BFFDFF;
	
	$validColor :#E5FF88;

	$backgroundColor : #f5f4f0;

	$greyLightExtra: #F5F4F0;
	$greyLight :#AFAFAF;
	$grey :#909090;
	$greyDark :#7B7B7B;

	$white: #fff;
	$black : #4E4E4E;