
	$mainColor :#FF9F5F;
	$mainColorDark : #BF6B32;
	$mainColorLight : #FFC69F;

	$secondaryColor : #69D9DC;
	$secondaryColorDark : #2D979A;
	$secondaryColorLight : #BFFDFF;
	
	$validColor :#E5FF88;

	$backgroundColor : #f5f4f0;

	$grey :#AFAFAF;
	$darkgrey :#4E4E4E;
	$white: #fff;
	$black : #7B7B7B;