
	$orange :#FF9F5F;
	$darkorange : #BF6B32;
	$lightorange : #FFC69F;

	$blue : #69D9DC;
	$darkblue : #2D979A;
	$lightblue : #BFFDFF;
	
	$green :#E5FF88;
	
	$grey :#AFAFAF;
	$darkgrey :#4E4E4E;
	$white: #fff;
	$black : #7B7B7B;