#brand{
  background-image: url("#{$get-path-to}img/elements/Logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
  float: left;
  height: 28px;
  width: 160px;
  margin-top:-65px;
}

#nav-bar{
  padding:20px 0;

  ul.nav{
    text-align:right;
    margin:0;

    li{
      display:inline-block;
      margin-left:0px;

      a{
        color: $grey;;
        padding:10px 15px;
        font-size:1.1rem;
        display:block;

        &:hover{
          color: $greyLight;

        }
        &.btn-primary{
          margin:0;
          color:$white;
          padding:10px 15px;
        }
      }
    }
  }
}


